* {
  margin: 0;
  padding: 0;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  align-items: center;
  height: 15px;
  
}

.header {
  background: white;
  padding-inline: 16px;
  height: 100px;
}

.nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 48px;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  height: 0px;
  color: black;
}

.nav-list a {
  font-size: 18px;
  color: black;
  padding-block: 16px;
}

.hero {
  height: calc(100vh - 70px);
  background: center / cover no-repeat url("./binary-bg.png");
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid black;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: black;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(61, 55, 63);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
    z-index: 200;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}


/* CSS do CAROUSSEL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.carousel-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    z-index: 1;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-control {
    cursor: pointer;
    background-color: #33333320;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.carousel-control:hover {
    background-color: #555;
}

/* Fim */

/* Footer */
footer {
  background-color: white;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.contact, .useful-links, .social-media {
  flex: 1 1 300px;
  margin-right: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

@media (max-width: 768px) {
  .contact, .useful-links, .social-media {
      margin-bottom: 20px;
      margin-right: 0;
  }
}

/* Fim */

/* Cards */

.container-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 20px auto;
}

.card {
  width: calc(33.33% - 20px);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-content {
  padding: 20px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    
  }
}
/* Fim */

/* Section */
section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

section div {
  flex: 1;
  text-align: center;
  padding: 20px;
}

h2 {
  color: #333;
}

p {
  color: #555;
}

img {
  max-width: 100%;
  height: auto;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  section {
    
      flex-direction: column;
      text-align: center;
  }

  section div {
      width: 100%;
  }
}

/* Fim */


/* Mídias Sociais */
.social-bar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Isso centralizará os ícones na vertical */
  position: fixed;
  top: 50%; /* Ajuste conforme necessário para a posição desejada na página */
  transform: translateY(-50%);
  right: 10px; /* Ajuste conforme necessário para a posição desejada na página */
}

.social-icon {
  margin-bottom: 10px; /* Adiciona um espaçamento entre os ícones */
}

/*  */